{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Last fake news</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if posts %}

           {% for post in posts %}
           <tr>
               <div>
                    <p style="text-align: center;"><strong>{{ post.title|censor }}</strong></p>
               </div>
               <div>
                   <p style="text-align: justify;">{{ post.text|truncatewords:20|censor }}</p>
               </div>
               <div>
                    <p style="text-align: center;">Дата публикации: {{ post.date|date:'d M Y' }}&nbsp;</p>
                    <hr />
                    <p style="text-align: center;">&nbsp;</p>
               </div>
           </tr>
           {% endfor %}

   {% else %}
       <h2>There are now news!</h2>
   {% endif %}
{% endblock content %}