<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список объявлений</title>
</head>
<body>
 <hr>
    {% if articles %}

           {% for article in articles %}
           <tr>
               <div>
                    <p><strong>{{ article.title }}</strong></p>
               </div>
               <div>
                   <p>{{ article.text|truncatewords:20 }}</p>
               </div>

               <a href="{% url 'article_detail' article.id %}">Подробнее</a>

               <div>
                    <p>Категория: {{ article.category }}&nbsp;</p>
                    <hr />
                    <p>&nbsp;</p>
               </div>

           </tr>
           {% endfor %}

    {% else %}
       <h2>There are no articles!</h2>
    {% endif %}
</body>
</html>