{% extends 'flatpages/default.html' %}
<html lang="en">
{% block title %}
Мои отклики
{% endblock title %}



{% block content %}
    {% for response in responses %}

    <b>Объявление:</b>
    <p>{{ response.article.title }}</p>
    <p><a href="{% url 'article_detail' response.article.id %}">Подробнее</a></p>
    <b>Кто откликнулся:</b>
    <p>{{ response.author }}</p>
    <b>Текст отклика:</b>
    <p>{{ response.text }}</p>
    <td>
            {% if response.status is False %}
            <form action="{% url 'accept_response' response.id %}"><input type="submit" value="Принять" /></form>
            <form action="{% url 'delete_response' response.id %}"><input type="submit" value="Отклонить" /></form>
            {% else %}
            Принят
            {% endif %}
    </td>
    <hr />
   {% endfor %}

   {# Информация о предыдущей странице #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

{% endblock content %}
</html>